html{
    height: 100%;
}

body{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
}

a{
    color: #000;
    text-decoration: none;
}

.background-mask{
    height: 100%;
    background-image: url(images/hero-mask.png);
    background-size: cover;
}

h1{
    font-size: 40px;
    color: white;
}

p{
    color: #f6d515;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 60px;
}

.logo{
    

}

.btnLogin{
    background-color: #f6d515;
    color: #625928;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    border: 1px solid  #f6d515;
    border-radius: 3px;
}

.btnLog{
    margin-top: 13px;
    width: 90%;
}

.btnLogin:hover{
    color: #FFF;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 100px);
}

.content-dashboard{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 100px);
}

.btn-cta{
    background-color: #f6d515;
    color: #625928;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    border: 1px solid  #f6d515;
    border-radius: 3px;
}

.btn-submit{
    background-color: rgba(105, 102, 102, 0.4);
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 6px;
    color: #FFF;
    border: none;
    border-radius: 3px;
}
.btn-design{
    background-color: rgba(105, 102, 102, 0.4);
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 6px;
    color: #FFF;
    border: none;
    border-radius: 3px;
}

.input-text{
    font-size: 20px;
    color: #f6d515;;
}

.text-design{
    margin-left: 10px;
    color: #fff;
}

.border-position ::-webkit-input-placeholder{
    color: #fff;
    opacity: 0.5;
}
.border-position{   
    display: flex;
    justify-content: center;
    border: "1px solid #000";
    color: #fff;
    width: 450px;
    height:250px;
    padding: 6px;
    top: 150px;
    left: 450px;
    background-color:rgba(0,0,0,0.8);
}

.border-position input{
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 3px solid #FFF;
    background: transparent;
    color: #fff;;
    font-size: 20px;
}

ul li{
    list-style: none;
    font-size: 17px;
    display: inline-block;
    margin-left: 20px;
}

.option{
    color: white;
    text-decoration: none;
}

.option:hover{
    color: yellow;
    text-shadow: 1px 1px 1px #000;
}

.option-right{
    display: flex;
    align-items: center;
    color: #FFF;
    
}

.photo-user{
    margin: 6px;
    widows: 40px;
    height: 40px;
    border-radius: 50%;
}

.movie-logo{
    width: 30%;
    height: 30%;
}
